
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

.statusbar{
  width: 375px;
}
body {
  background-color: #1F2232;
  font-size:62.5%;
  text-align: center;
  width: 375px;
  margin:auto;
  font-family: "SF Display", helvetica, sans-serif;
}

#newroute{
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: #F8F7EF;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 65%;
}

#washington {
  color: #000;
  background-color: #fff;
  padding: 0.75em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2.5em;
  text-align: left;
  font-size: 1.5em;
  border-radius: 5px;
  width: 80%;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: inline-block;
}
#plus, #backarrow{
  color: #F8F7EF;
  font-size: 2em;
  width: 10%;
}

.number, .stop, .minutes {
  color: #1F2232;
  font-size: 1.5em;
  text-align: left;
}

.bounds{
  background-color: #1F2232;
  color: #F8F7EF;
  font-size: 1.75em;
  padding: 0.5em;
}

.number {
  text-align: center;
  width: 15%;
  display: inline-block;
  padding-left: 2px;
}

.stop{
  width: 30%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

#reroute{
  background-color: #C8545B;
}

#outofservice {
  background-color: #626366
}


.group, .group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
  background-color: #F8F7EF;
}

.group1{
  border-bottom: 2px solid #1F2232;
}


.minutes{
  width: 30%;
  display: inline-block;
  text-align: center;
}
.map {
  width: 375px;
  height: 35em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#arrow{
  color: #FBFFF1;
  padding-right: 2em;
  padding-top: 0.20em;
  font-size: 1.25em;
  text-align: center;
  width: 20px;
}
